h1 {
    text-align: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    
}

.intro-title {
    text-align: left;
    padding-left: 5%;
    background-color: bisque;
}

.intro-p {
    text-align: left;
    padding-left: 5%;
    background-color: blanchedalmond;
}